<nav class="navbar bg-body-tertiary navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/icons8-magic-crystal-ball-96.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            EloVision
        </a>
        <span class="navbar-text">
            <a href="#" class="">Login</a>
        </span>
    </div>
</nav>